body {
  position: relative;
  overflow-x: hidden;
  color: white;
  background-color: rgb(36, 28, 28);
  font-family: 'Ubuntu', sans-serif;
  min-height: 100%;
  height: 100%;
}
.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0 30px 0 30px;
}
.header-timer {
  margin-left: auto;
  font-weight: 700;
  font-size: calc(14px + 2vmin);
}
.header-logo {
  font-family: 'Pacifico', cursive;
  font-size: calc(14px + 2vmin);
}
.header-logo-accent-one {
  color: rgb(0, 145, 255);
}
.header-logo-accent-two {
  color: rgb(238, 0, 255);
}
.header {
  width: 100vw;
  height: 50px;
}
.find-image-container {
  width: 100%;
}
.find-image {
  z-index: -1;
  object-fit: fill;
  width: 100%;
  cursor: pointer;
}
.credits-icon {
  width: 50px;
}
.hidden {
  visibility: hidden;
}
.grow {
  scale: 1.2;
}
.credits-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 30px;
  left: 30px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.credits-content {
  position: absolute;
  bottom: 70px;
  width: 300px;
  background-color: rgb(36, 28, 28);
  list-style: square;
  padding: 20px 20px 0 20px;
}
.credits-content > ul {
  list-style: none;
  list-style-position: inside;
  color: rgb(0, 145, 255);
}
.credits-content > ul > li {
  margin-bottom: 20px;
  color: white;
}
a:link {
  color: rgb(0, 145, 255);
}
a:visited {
  color: rgb(238, 0, 255);
}
footer {
  width: 100vw;
}
.noclick {
  pointer-events: none;
}
.hidden-object-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-object-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  cursor: pointer;
  background: rgb(211, 196, 196);
  color: black;
  padding: 5px;
}
.hidden-object-list-item:hover {
  background: rgb(144, 126, 126);
}
.hidden-object-list-item-icon {
  width: 100%;
}
.hidden-object-list-item-icon-container {
  width: 40px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
