body {
  position: relative;
  overflow-x: hidden;
  color: white;
  background-color: rgb(36, 28, 28);
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  overflow-y: hidden;
}
.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0 30px 0 30px;
}
.header-timer {
  margin-left: auto;
  font-weight: 700;
  font-size: calc(14px + 2vmin);
}
.header-logo {
  font-family: 'Pacifico', cursive;
  font-size: calc(14px + 2vmin);
}
.header-logo-accent-one {
  color: rgb(0, 145, 255);
}
.header-logo-accent-two {
  color: rgb(238, 0, 255);
}
.header {
  width: 100vw;
  height: 50px;
}
.find-image-container {
  width: 100%;
}
.find-image {
  z-index: -1;
  object-fit: fill;
  width: 100%;
  cursor: pointer;
}
.credits-icon {
  width: 50px;
}
.hidden {
  visibility: hidden;
}
.grow {
  scale: 1.2;
}
.credits-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 30px;
  left: 30px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.credits-content {
  position: absolute;
  bottom: 70px;
  width: 300px;
  background-color: rgb(36, 28, 28);
  list-style: square;
  padding: 20px 20px 0 20px;
}
.credits-content > ul {
  list-style: none;
  list-style-position: inside;
  color: rgb(0, 145, 255);
}
.credits-content > ul > li {
  margin-bottom: 20px;
  color: white;
}
a:link {
  color: rgb(0, 145, 255);
}
a:visited {
  color: rgb(238, 0, 255);
}
footer {
  width: 100vw;
}
.noclick {
  pointer-events: none;
}
.hidden-object-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-object-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  cursor: pointer;
  background: rgb(211, 196, 196);
  color: black;
  padding: 5px;
}
.hidden-object-list-item:hover {
  background: rgb(144, 126, 126);
}
.hidden-object-list-item-icon {
  width: 100%;
}
.hidden-object-list-item-icon-container {
  width: 40px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invisible {
  display: none;
  background: red;
}
.notification-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background: none;
}
.notification-content {
  background: rgb(211, 196, 196);
  font-size: 17px;
  color: black;
  padding: 15px 30px 15px 30px;
  border-radius: 34px;
  margin-top: 5px;
  transition-duration: 1s;
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.95);
}
.modal-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background: rgb(211, 196, 196);
  color: black;
}
.modal-headline {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.modal-description {
  font-size: 16px;
  margin-bottom: 20px;
}
.modal-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-items-headline {
  display: flex;
  justify-content: center;
}
.modal-items-object {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: auto;
  gap: 20px;
  margin-bottom: 10px;
}
.modal-items-object > img {
  width: 70px;
}
.modal-button-container {
  display: flex;
  justify-content: center;
}
.modal-button {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: rgb(0, 145, 255);
  border-style: none;
  width: 300px;
  height: 55px;
}
.modal-button:hover {
  background: rgb(238, 0, 255);
  transition: 0.2s ease-in;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}
h3 {
  font-weight: 600;
  font-size: 25px;
}
.hidden-object-list-item-name {
  font-size: 20px;
  font-weight: 500;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
